<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <label for="book_title">Title</label>
  <%= f.text_field :title %>
  
  <label for="book_body">Body</label>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>